@import "../styles//styles.scss";
.btn1 {
  width: 180px;
  height: 50px;
  background-color: #1475d4;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: large;
  cursor: pointer;
}
.btn1:hover {
  background-color: #3395e5;
}

.BreadCrumbs {
  width: 320px;
  display: grid;
  grid-template-columns: 100px 20px 100px 20px 100px;

  .btnBCA {
    text-align: left;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 2px;
    color: #1375d4;
    background-color: white;
    text-shadow:0px 0px 1px #1375d4

  }
  .btnBC {
    text-align: left;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 2px;
    color: #6c6c6c;
    font-weight: normal;
    background-color: white;
  }
  .btnBC:hover,
  .btnBCA:hover {
    color: #082d49;
  }
  .BC {
    color: #1475d4;
    font-weight: bold;
  }
}
