@media only screen and (min-width: 1200px) {
  .LandingPage {
    width: 1200px;
    height: 620px;
    margin: 0% auto;
    .LandingScenes {
      width: 1020px;
      height: 488px;
      margin-top: 80px;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: 510px 510px;
      div {
        width: 100%;
        height: auto;

        .HomeImage {
          margin-right: auto;
          margin-left: 10px;
        }
      }
      div:nth-child(1) {
        padding: 30px;
        width: 90%;
        .Heading1 {
          font-size: 48px;
          width: auto;
          margin-block-end: 0px;

        }
        .Heading2 {
          font-size: 36px;
          font-weight: 400;
          margin-block-start: 8px;

          width: 400px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .LandingPage {
    width: 320px;
    height: 620px;
    margin: 0% auto;
    .LandingScenes {
      width: 280px;
      height: 500px;
      margin-top: 80px;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      div {
        width: 100%;
        height: 500px;

        .HomeImage {
          margin-right: auto;
          margin-left: auto;
          width: 280px;
        }
      }
      div:nth-child(1) {
        padding: 0px;
        text-align: center;
        .Heading1 {
          font-size: 36px;
          width: 280px;
        }
        .Heading2 {
          font-size: 30px;
          font-weight: 400;
          width: 280px;
        }
      }
      #A {
        order: 2;
      }
      #B {
        order: 1;
      }
    }
  }
}

// HomePage
@media only screen and (min-width: 1200px) {
  .HomePage {
    width: 1200px;
    height: 620px;
    .Navigation {
      width: 1200px;
      height: 60px;
      display: grid;
      // border: 1px solid;
      grid-template-columns: auto auto auto auto;

      .NavButton {
        width: auto;
        height: 60px;
        border: 1px solid rgb(179, 179, 179);
        font-size: large;
      }
      .NavButton:hover, .NavButton:focus {
        background-color: #3395e5;
        color: white;
      }
    }
    .ScenePopout {
      width: 1200px;
      height: 560px;
      // background-color: red;
    }
    .PopupBackground {
      width: 1200px;
      position: absolute;
      height: 700px;
      top: 0%;
      background-color: gray;
      opacity: 0.5;
    }
    .popup {
      width: 600px;
      height: 280px;
      background-color: white;
      position: absolute;
      top: 350px;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      border-radius: 10px;
      .centeredTextButton {
        width: 80%;
        height: 100px;
        // background-color: gray;
        margin: 15% auto;
        text-align: center;
      }
    }
  }
}
