.MobileHome {
  width: 320px;
  height: 636px;
  margin-top: 64px;
  text-align: center;
  .NavigationMobile {
    width: 320px;
    height: 48px;

    background-color: rgb(33, 66, 92);
    border-top: 1px solid #a0a0a0;
    border-left: none;
    border-bottom: none;
    border-right: none;
    // padding: 6px;
    text-align: center;
    .Menu {
      color: #ffffff;
    }
  }
  .NavMobilePos {
    position: absolute;
    left: 50%;
    z-index: 99;
    top: 208px;
    transform: translate(-50%, -50%);
    .NavigationMobile {
      width: 320px;
      height: 48px;

      background-color: rgb(33, 66, 92);
      border-top: 1px solid #a0a0a0;
      border-left: none;
      border-bottom: none;
      border-right: none;
      // padding: 6px;
      text-align: center;
      .Menu {
        color: #ffffff;
      }
    }
  }

  .HomeHeading {
    font-size: 16px;
    width: 200px;
    margin: 20px auto;
    color: rgb(77, 77, 77);
    font-weight: 300;
  }
  .optionsOuterDiv {
    width: 320px;
    height: auto;
    background-color: white;
    margin: auto;
  }
  .optionsPopout {
    position: absolute;
    background-color: white;
    top: 140px;
    height: auto;
    width: 320px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    .mobileButtonsDiv2 {
      display: grid;
      margin: 30px auto;
      grid-template-columns: auto auto;
      width: 260px;
      height: 40px;
      .buttonBack {
        width: 120px;
        border-radius: 30px;
        border: 1px solid black;
        background-color: white;
      }
      .buttonNext {
        width: 120px;
        margin-right: 0px;
        margin-left: auto;
        border-radius: 30px;
        background-color: #007aff;
        border: 1px solid #007aff;
        color: white;
      }
    }
    .sectionHeaderMobile {
      text-align: left;
      font-size: 26px;
      width: 260px;
      font-weight: 300;
      margin-left: auto;
      margin-right: auto;
    }
    .MobileBreadCrumbsNav {
      display: grid;
      width: 260px;
      margin: auto;
      grid-template-rows: auto auto auto;
      .BreadCrumbsButton {
        height: 50px;
        text-align: left;
        padding-left: 15px;
        border-radius: 1px;
        font-size: 14px;
        background-color: white;
        border: 1px solid rgb(77, 77, 77);
      }

      .BreadCrumbsButton:nth-child(2) {
        border-top: none;
      }
      .BreadCrumbsButton:nth-child(3) {
        border-top: none;
      }
      .Description {
        border-top: 1px solid rgb(77, 77, 77) !important;
      }
      .Description:nth-child(3) {
        border-bottom: none !important;
      }
      // Mobile Description Component

      .DescriptionText {
        width: 100%;
        height: auto;
        text-align: left;
        padding: 5px;
      }
    }
    // Mobile Example 1
    .mobileButtonsDiv {
      display: grid;
      margin-top: 30px;
      grid-template-columns: auto auto;
      width: 100%;
      height: 40px;
      .buttonOpt1 {
        width: 120px;
        border-radius: 30px;
        border: 1px solid rgb(20, 117, 212);
        background-color: white;
      }
      .buttonOpt2 {
        width: 120px;
        margin-right: 0px;
        margin-left: auto;
        border-radius: 30px;
        background-color: white;
        border: 1px solid rgb(232, 56, 125);
      }
      // next and back button
    }
    .sectionSlider {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 10px;
      height: 8px;
      background-color: rgb(230, 230, 230);
      border-radius: 5px;
    }
    .optionSlider {
      width: 50%;
      height: 8px;
      background-color: rgb(4, 52, 97);
      border-radius: 5px;
      display: none;
    }
    .Option1 {
      float: left;
      display: inline;
    }
    .Option2 {
      float: right;
      display: inline;
    }
  }
}
